<!DOCTYPE html>

<html >
<meta charset="utf-8">

<head>
	<link rel="stylesheet" href="public/css/detail.css" >
	<script src="public/js/grobalVar.js"></script>
	<script src="public/js/detail.js"></script>
</head>
<body  onLoad='onBodyLoadEvent()'>
<div class="divHead">
	<div class="left"><H1 align="center">염분차발전 전기충전 인프라 전력 모니터링 시스템</H1></div>
	<div class="right" ><img class="imglogo" src="public/images/CompanyLogo.png" ></div>
</div>
<hr style="position:absolute;boder:outset 5px black; background-color:black;color:orange;height:3px;width:1400px">
<br>
<p></p>
<div class="contentDiv" >
	<div class='contentDivChild'>
	<table border=1 width=1200px>
	<tr> <td style="font-size: 50px;text-align: center;" colspan="6" >Voltage</td>  </tr>
	<tr> 
		<td id=detailTd><label class=detailLabel id=lbl_vol_1 >330.2V</label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_vol_2 >330.2V</label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_vol_3 >330.2V</label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_vol_4 >330.2V</label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_vol_5 >330.2V</label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_vol_6 >330.2V</label> </td> 
	 </tr>
	<tr> <td style="font-size: 50px;text-align: center;" colspan="6" >Ampere</td>  </tr>
	<tr> 
		<td id=detailTd><label class=detailLabel id=lbl_amp_1 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_amp_2 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_amp_3 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_amp_4 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_amp_5 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_amp_6 ></label> </td> 
	 </tr>
	<tr> <td style="font-size: 50px;text-align: center;" colspan="6" >Power</td>  </tr>
	<tr> 
		<td id=detailTd><label class=detailLabel id=lbl_pow_1 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_pow_2 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_pow_3 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_pow_4 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_pow_5 ></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_pow_6 ></label> </td> 
	 </tr>
	<tr> <td style="font-size: 50px;text-align: center;" colspan="6" >Inverter</td>  </tr>
	<tr> 
		<td id=detailTd><label class=detailLabel id=lbl_dcac_vol></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_dcac_amp></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_dcac_power></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_dcac_ovol></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_dcac_oamp></label> </td> 
		<td id=detailTd><label class=detailLabel id=lbl_dcac_opower ></label> </td> 
	 </tr>
	</table>
	</div>
	<!-- 
	<div class='divSum'>
	<table border=1px width=1200px>
	<tr > 
		<td id=tdSum><label  style="font-size: 50px;text-align: center;" >Voltage</label> </td> 
		<td id=tdSum><label  style="font-size: 50px;text-align: center;" >Current</label> </td> 
		<td id=tdSum><label  style="font-size: 50px;text-align: center;" >Power(KW)</label> </td> 
		<td id=tdSum><label  style="font-size: 50px;text-align: center;" >Voltage</label> </td> 
		<td id=tdSum><label  style="font-size: 50px;text-align: center;" >Current</label> </td> 
	 </tr>
	<tr> 
		<td id=tdSumData align=center><label class=detailSLabel id=lbl_vol_avg >330.2V</label> </td> 
		<td id=tdSumData  align=center><label class=detailSLabel id=lbl_amp_sum>330.2V</label> </td> 
		<td id=tdSumData  align=center><label class=detailSLabel id=lbl_power_sum >330.2V</label> </td> 
		<td id=tdSumData  align=center><label class=detailSLabel id=lbl_DCAC_vol >330.2V</label> </td> 
		<td id=tdSumData  align=center><label class=detailSLabel id=lbl_DCAC_amp >330.2V</label> </td> 
	 </tr>
		</table>
	</div>
	-->
</div>


<div class=footer>
	<p></p>
	<hr style="position:absolute;boder:outset 5px black; background-color:black;color:orange;height:3px;width:1400px">
	<br>
	<small ><small>Programed by IFTECH.,LTD.    version:0.9.001 </small></small>
</div>
<script type="text/javascript">
</script>
</body>
</html>
