<!DOCTYPE html>

<html >
<meta charset="utf-8">
<style>
div {
  width: 100%;
}
.HeadDivLeft {
  width: 50%;
  float:left;
  border: 5px outset red;
  background-color: lightblue;    
}
div.HeadDivCenter {
  width: 50%;
  float:Center;
  border: 5px outset red;
  background-color: lightblue;    
}
div.HeadDivRight {
  width: 50%;
  float: right;
  border: 5px outset red;
  background-color: lightblue;    
}
</style>
<head>
</head>
<body>

<div >
	<div class="HeadDivLeft"  ><H1 ">염분차발전 전기충전 인프라 전력 모니터링 시스템</H1></div>
	<div class="HeadDivRight" ><img src="images/CompanyLogo.png" width=20%  height="20%"></div>
</div>


  <p>js data : <%=data%></p>
<button>sample</button>
</body>
</html>