<!DOCTYPE html>

<html >
<meta charset="utf-8">
<head>
	<link rel="stylesheet" href="public/css/index.css" >
	<script src="public/js/grobalVar.js" defer></script>
	<script type="text/javascript" defer src="public/js/processing.js"></script>
	<script src="public/js/index.js" defer></script>
</head>
<body  onLoad='onBodyLoadIndexEvent()'>

<div class="divHead">

	<div class="left"><img class="imglogo" src="public/images/logo.png" ></div>
	<div class="middle">염분차발전 전력 모니터링 시스템</div>
	<div class="right" > <img class="imglogo" src="public/images/kier.png" > </div>
</div>
		<!-- 
<hr style="position:absolute;boder:outset 5px black; background-color:black;color:orange;height:3px;width:1400px">
 Content div start-->
<div class=container>
	<div class="menu" >
		<div class=menu_tt >DC/DC Converter</div><div class='vlabel_tt' >
		</div>

		<div class=menu_t1 >RED1</div><div class='vlabel' id='lbl_Module1' onclick='changeModule(0)'>
		  <ul class=navbar_menu id=lbl_module1><li id=module_1_Vol>Input </li><li id=module_1_amp>330[V]</li><li>0.1[A]</li><li id=module_1_pow>3.3[KW]</li> </ul>
		  <ul class=navbar_menu id=lbl_module1><li id=module_11_Vol>Output </li><li id=module_11_amp>330[V]</li><li>0.1[A]</li><li id=module_11_pow>3.3[KW]</li> </ul>
		</div>
		<div class=menu_t1 >RED2</div><div class='vlabel' id='lbl_Module2' onclick='changeModule(0)'>
		  <ul class=navbar_menu id=lbl_module1><li id=module_2_Vol>Input </li><li id=module_2_amp>330[V]</li><li>0.1[A]</li><li id=module_2_pow>3.3[KW]</li> </ul>
		  <ul class=navbar_menu id=lbl_module1><li id=module_22_Vol>Output </li><li id=module_22_amp>330[V]</li><li>0.1[A]</li><li id=module_22_pow>3.3[KW]</li> </ul>
		</div>
		<div class=menu_t1 >RED3</div><div class='vlabel' id='lbl_Module3' onclick='changeModule(0)'>
		  <ul class=navbar_menu id=lbl_module1><li id=module_3_Vol>Input </li><li id=module_3_amp>330[V]</li><li>0.1[A]</li><li id=module_3_pow>3.3[KW]</li> </ul>
		  <ul class=navbar_menu id=lbl_module1><li id=module_33_Vol>Output </li><li id=module_33_amp>330[V]</li><li>0.1[A]</li><li id=module_33_pow>3.3[KW]</li> </ul>
		</div>
		<div class=menu_t1 >RED4</div><div class='vlabel' id='lbl_Module4' onclick='changeModule(0)'>
		  <ul class=navbar_menu id=lbl_module1><li id=module_4_Vol>Input </li><li id=module_4_amp>330[V]</li><li>0.1[A]</li><li id=module_4_pow>3.3[KW]</li> </ul>
		  <ul class=navbar_menu id=lbl_module1><li id=module_44_Vol>Output </li><li id=module_44_amp>330[V]</li><li>0.1[A]</li><li id=module_44_pow>3.3[KW]</li> </ul>
		</div>
		<div class=menu_t1 >RED5</div><div class='vlabel' id='lbl_Module5' onclick='changeModule(0)'>
		  <ul class=navbar_menu id=lbl_module1><li id=module_5_Vol>Input </li><li id=module_5_amp>330[V]</li><li>0.1[A]</li><li id=module_5_pow>3.3[KW]</li> </ul>
		  <ul class=navbar_menu id=lbl_module1><li id=module_55_Vol>Output </li><li id=module_55_amp>330[V]</li><li>0.1[A]</li><li id=module_55_pow>3.3[KW]</li> </ul>
		</div>
		<div class=menu_t1 >RED6</div><div class='vlabel' id='lbl_Module6' onclick='changeModule(0)'>
		  <ul class=navbar_menu id=lbl_module1><li id=module_6_Vol>Input </li><li id=module_6_amp>330[V]</li><li>0.1[A]</li><li id=module_6_pow>3.3[KW]</li> </ul>
		  <ul class=navbar_menu id=lbl_module1><li id=module_66_Vol>Output </li><li id=module_66_amp>330[V]</li><li>0.1[A]</li><li id=module_66_pow>3.3[KW]</li> </ul>
		</div>
	</div>
	<div class=converterdiv >

		<div class=menu_tt >DC/AC Inverter</div><div class='vlabel_tt' >

		</div>
		<div class=menu_t1 >RED6</div><div class='vlabel' id='lbl_dcac' onclick='changeModule(0)'>
		  <ul class=navbar_menu id=lbl_dcac><li id=dcac_Vol>Input </li><li id=dcac_amp>330[V]</li><li>0.1[A]</li><li id=dcac_pow>3.3[KW]</li> </ul>
		  <ul class=navbar_menu id=lbl_dcac><li id=dcac_1_Vol>Input </li><li id=dcac_1_amp>330[V]</li><li>0.1[A]</li><li id=dcac_1_pow>3.3[KW]</li> </ul>
		</div>

		<div class="fieldsetButtonContainer" >
		<fieldset ></fieldset>
		</div>

		<div class="divButtonContainer" >
				<button class="button1" id="btnConnection"  onclick="onClickConnection()">Connection</button> 
		</div>
		<div class="divButtonContainer" >
				<button  class="button1" onclick='btnSetTime()' >PC 시간 동기화</button> 
		</div>
		<div class="divButtonContainer" >
				<button  class="button1" onclick='btnSave()' >Data Save</button> 
		</div>
		<div class="divButtonContainer" >
				<button  class="button1" onclick='btnDelete()' >전체 로그 삭제</button> 
		</div>
	</div>

</div><!--  Main Container Div end-->

<!--  Footer start 
<div class=footer>
<p>
<hr style="position:absolute;boder:outset 5px black; background-color:black;color:orange;height:3px;width:1400px">
</p><p style="margin-top: 40px;">
<small ><small>Programed by IFTECH.,LTD.    ver:0.9.001 </small></small>
<small style=" margin-left: 150px;" > <small>mvchkim@gmailcom</small></small>
<small style=" margin-left: 150px;" > <small>tel:032-000-0000</small></small>
</p>
-->
<script type="text/javascript">
//var myData =  !{JSON.stringify(data)};
</script>
<!-- <p>js data : <%=data%></p>
-->
</div>


</body>
</html>
