<!-- not used html -->
<!DOCTYPE html>
<meta charset="utf-8">
   <head>
	<link rel="stylesheet" href="public/css/detail.css" >
	<script src="public/js/grobalVar.js"></script>
	<script src="public/js/detail.js"></script>
   </head>
<body>

<p>js data : <%=data%></p>

</body>
</html><!DOCTYPE html>

