body{
}
.container{
	display:flex;
	flex-flow:row nowrap;
	width:1450px;
	height:850px;
	//border: 3px outset gray;
	align-content:space-between;
	padding: 20px 10px;
}
.menu {
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  flex-wrap:wrap;
  width:50%;
  //border: 3px outset blue;
  background-color: white;
  font-size: 25px;
  margin: 10px 10px;
  padding: 30px 10px;
  //line-height: 200%
  //height: 550px;
  //width: 750px;
  //float: left;
  //margin-left: 5px;
}
.menu_tt{
  font-size: 30px;
  text-align: center;
  display:flex;
  align-items: center;
  //width:160px;
  width:85%;
  height:40px;
  padding: 5px 0px 5px 20px;
  margin: 5px 0px;
  color: black;
  background-color: #ffffff;
  justify-content:space-between;
  text-align: center;
  //border: 3px outset blue;
}
.vlabel_tt {
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  text-align: left;
  //width:480px;
  width:5%;
  height:40px;
  color: white;
  background-color: #ffffff;
  //background-color: #000000;
  padding: 5px 5px;
  margin: 5px 0px;
  justify-content:space-between;
}
.menu_t1{
  text-align: center;
  display:flex;
  align-items: center;
  //width:160px;
  width:15%;
  height:110px;
  padding: 5px 0px 5px 20px;
  margin: 5px 0px;
  color: white;
  background-color: #000000;
  justify-content:space-between;
  text-align: center;
}
.vlabel {
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  text-align: left;
  //width:480px;
  width:75%;
  height:110px;
  color: white;
  //background-color: #0fffff;
  background-color: #000000;
  padding: 5px 5px;
  margin: 5px 0px;
  justify-content:space-between;
}
.converterdiv {
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  flex-wrap:wrap;
  width:50%;
  //border: 3px outset blue;
  background-color: white;
  font-size: 25px;
  margin: 10px 10px;
  padding: 30px 10px;
  //line-height: 200%
  //height: 550px;
  //width: 750px;
  //float: left;
  //margin-left: 5px;
}
.fieldsetButtonContainer {
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  flex-wrap:wrap;
  //position: relative;
  //border: 1px outset red;
  width: 100%;
  height: 400px;
  font-size: 25px;
}
.divButtonContainer {
  display:flex;
  flex-flow:row wrap;
  flex-direction:row;
  flex-wrap:wrap;
  //position: relative;
  //border: 1px outset red;
  width: 100%;
  height: 80px;
  font-size: 25px;
}
.divHead {
  width: 1450px;
  background: white;
  height: 100px;
}
div.left {
  width: 260px;
  float: left;
  font-size: 35px;
  box-sizing: border-box;
  background: white;
  //background-color: lightblue;
  background-color: white;
  text-align: center;
  height: 100px;
  border: 0px outset red;
  padding: 20px 10px 10px 10px;
}
div.middle{
  width: 700px;
  float: left;
  box-sizing: border-box;
  background: white;
  //background-color: lightblue;
  background-color: white;
  text-align: center;
  height: 100px;
  border: 0px outset red;
  padding: 40px 10px 10px 10px;
  font-size: 40px;
  font-family:Sans-Serif;
  font-weight:900;
  text-shadow:4px 2px 2px gray;
  color:#3D5679
}
div.right {
  width: 350px;
  float: left;
  //align: "left";
  box-sizing: border-box;
  background: white;
  //valign: center;
  height: 100px;
  border: 0px outset red;
  padding: 40px 0px 0px 0px;
}
div.divImage {
  //border: 1px outset gray;
  display: block;
  height: 140px;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  //float: left;
  box-sizing: border-box;
  background: white;
  font-size: 25px;
  //line-height:200%";
}

.sineimg {
  width: 100%;
  height: 90%;
  vertical-align: baseline;
}
.imglogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 60%;
  //height:60%;
  //height: 100px;
  vertical-align: baseline;
  //height: 100px;
}
.menudiv {
  border: 0px outset red;
  background-color:white;
  height:650px;width:450px;
  float:left;font-size:25px;
  //line-height:200%";
}
.footer {
  margin-left: 5px;
  border: 0px outset red;
  width: 100%;
  height: 100px;
  float: left;
  font-size: 25px;
  align: righ;
}
/*
.Divbutton1 {
  position: absolute;
  margin-top: 20px;
  top: 30%;
  left: 50%;
  margin-left: 10px;
  transform: translate(-50%, -30%);
  border: 0px outset red;
}
*/
fieldset {
	height: 200px;
	border: 0px outset red;
	}
.button1 {
  //display: inline-block;
  //display:flex;
  width:100%;
  background-color: #ffffff;
  padding: 16px 16px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2px 2px;
  cursor: pointer;
}
.disSelect {
  margin: 4px 2px;
  background-color: #4caf50;
  font-size: 30px;
  padding: 6px 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td {
  height: 60px;
  padding: 2px 1px;
}
#detailTd {
  height: 60px;
  padding: 6px 16px;
}

.detailLabel {
  font-size: 50px;
  color: aliceblue;
  background-color: #b4b9f3;
  padding: 6px 16px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detailSLabel {
  padding: 16px 16px;
  font-size: 60px;
  color: aliceblue;
  background-color: #b4b9f3;
  padding: 26px 26px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar_menu{
	margin: 0 0 ;
	padding: 0 0 ;
  display:flex;
  justify-content:space-between;
  align-items:center;
  //background-color: #b4b9f3;
  //color: aliceblue;
  list-style:none;
  height:10px;
	//border: 3px outset gray;
}
li{
    text-align: right;
	//border: 3px outset gray;
	height: 20px;
	width: 90px;
	margin: 10px 10px;
	padding : 10px 0 ;
}


